.receive, .donate {
  padding: 1rem;
  width: 100%;
  background-color: var(--foreground);
  border: 1px solid var(--subtext);
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.donate {
  
}

.receive {
  
}